<%= render "shared/modal-turbo" do %>
  <h2>Solicitação feita com sucesso!</h2>
  <p>Você receberá um e-mail de confirmação.</p>
  <p>Aguarde a aprovação ou entre em <strong>contato pelo WhatsApp</strong>!</p>

  <div class="d-flex flex-column align-items-center mt-3">
  <h6>Entrar em contato com:<strong> <%= @exchange.request.user.first_name.capitalize %></strong></h6>
    <div id="whatsapp" class="whatsapp mt-3 mb-3">
      <a
        href='https://api.whatsapp.com/send?phone=<%= @request.user.phone %>&text=&text=Envie%20sua%20mensagem%20para%20<%= @request.user.first_name %>'
        target="_blank"
        title="Fale conosco pelo Whatsapp"
        class="btn btn-whatsapp"
        rel="noopener">
        <span class="fa-brands fa-whatsapp"></span>
      </a>
    </div>
  </div>
<% end %>
