<p>Ola <%= @exchange.user.first_name %>,</p>

<p>Voce acabou de pegar a chave do usuario <%= @exchange.request.user.first_name %>.</p>
<p>Aguarde ate a aprovacao seja feita.</p>

<p>Obrigada pela preferencia!</p>
