<h1>Boas vindas ao MyShift, <%= @user.first_name %>!</h1>
<p>
  Você concluiu seu cadastro com sucesso.
</p>
<p>
  Para iniciar sua seção no site clique no link a seguir: <%= @url %>.
</p>
<p>Agradecemos por se juntar à nós! Tenha um ótimo dia!</p>
