// Specific CSS for your home-page

.plane-bg {
  background-image: url("front-bg.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
  height: 100vh;
  width: 10%;
  margin: 0 auto;
}
