// @import "app/views/devise/sessions/new"
.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $red;
}

.login-page {
  color: $dark-blue;
  background-color: $ice;

}

.login-window {
  color: $dark-blue;
  border-radius: 5px;
  box-shadow: 5px 5px 5px (black, 0.5);
}

.login-margin-top {
  margin-top: 14%;
}

.card-login {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
  color: $dark-blue;
}
