<div class="footer flex-container">
  <div class="footer-links ">
    <a href="https://github.com/raquelciusz/my-shift/wiki" target="_frame"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Website made with <i class="fas fa-heart"></i> by My Shift
  </div>
</div>
