  <nav>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <ul class="menuItems">
          <a class="navbar-brand justify-content" href="#">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" width="40px" height="40px" /></a>
          <li><a href='#' data-item='Home'>Home</a></li>
          <li><a href='#' data-item='About'>About</a></li>
          <li><a href='#' data-item='Projects'>Projects</a></li>
          <li><a href='#' data-item='Blog'>Blog</a></li>
          <li><a href='#' data-item='Contact'>Contact</a></li>
        </ul>
      </div>
      <div>
        <%= link_to "Login", "#", class: "btn btn-ghost mx-3" %>
      </div>
    </div>

  </nav>
