<%# Modal base for using with Turbo Hotwire %>
<%# OBS: When rendering, it must receive as arguments:<modal width class> %>
<%= turbo_frame_tag "modal" do %>
  <div id="editTitleModal" data-controller="modal-turbo" data-turbo="true">
    <div class="transparent-overlay dark-transparent-background" data-action="click->modal-turbo#closeModal"></div>
    <%= turbo_frame_tag "modal-body" do %>
      <div class="modal-card modal-lg-width">
        <i class="fas fa-times modal-close-button" data-action= "click->modal-turbo#closeModal" data-modal-layer= 'editTitleModal'></i>
        <%= yield %>
      </div>
    <% end %>
  </div>
<% end %>
