

<%= week_calendar(events: requests, end_attribute: :end_time) do |date, reqs| %>
  <%= date %>
  <% reqs.each do |request| %>
    <div class="meeting"> 
      <p><%= request.origin %></p>
    </div>
  <% end %>
<% end %>
