<!DOCTYPE html>
<html>
<head>
  <title>Checkout cancelado</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section>
    <p>Não conseguiu fazer sua assinatura? favor tentar novamente</p>
  </section>
</body>
</html>
