.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: white
}

.btn-main {
  background-color: $dark-blue;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: 5px;
}
