.card-exchange {

  box-shadow: 0 10px 30px rgba(0,0,0,.1); 
  background-color: $light-gray;
  color: $gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin: 200px;
 
}