#ida, #volta, #origem, #destino {
  display:flex;
  margin: 1em;
  border-radius: 5px;

  ::placeholder {
    color: rgb(185, 185, 185);
  }
}

#pesquisar {
  display:flex;
  padding: 1em;
}

.btn-pesquisar {
  background-color: $dark-blue;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
}

#form-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  color: #fff;
  background-color: $ice;
}

// #title-filter {
//   text-align: center;
//   display: inline-block;
//   align-items: center;
// }
