

.home-intro {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 90vh;
}

.home-container {
  max-width: 100%;
  margin-top: 6em;
}

.home-cards {
  background-image: url("world-map-pins.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
#sobre {
  background-color: $ice;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
iframe {
  border-radius: 15px;
  width: 800px;
  height: 480px;
}

// cards

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

* {
  box-sizing: border-box;
}

.page-contain {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-position: center;
  object-fit: fill;
  // background-image: url('worldmap-teste.jpg');
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.data-card {
  display: flex;
  flex-direction: column;
  max-height: 21em;
  max-width: 20.75em;
  min-height: 21.75em;
  overflow: hidden;
  border-radius: .5em;
  text-decoration: none;
  background: $ice;
  margin: auto 20px;
  padding: 2.5em 2.5em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
  transition: transform .45s ease, background .45s ease;
  text-align: justify;
  text-justify: inter-word;
  // text-indent: 40px;

  h3 {
    color: #2E3C40;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1;
    padding-bottom: .5em;
    margin: 0 0 0.142857143em;
    border-bottom: 2px solid $red;
    transition: color .45s ease, border .45s ease;
  }

  h4 {
    color: #627084;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color .45s ease;
  }

  p {
    opacity: 0;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.8;
    margin: 0 0 1.25em;
    transform: translateY(-1em);
    transition: opacity .45s ease, transform .5s ease;
  }

  .link-text {
    display: block;
    color: $red;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color .45s ease;

    svg {
      margin-left: .5em;
      transition: transform .6s ease;

      path {
        transition: fill .45s ease;
      }
    }
  }

  &:hover {
    background: $red;
    transform: scale(1.02);

    h3 {
      color: $ice;
      border-bottom-color: $red;
    }

    h4 {
      color: $ice;
    }

    p {
      opacity: 1;
      transform: none;
    }

    .link-text {
      color: $ice;

      svg {
        animation: point 1.25s infinite alternate;

        path {
          fill: $ice;
        }
      }
    }
  }
}

@keyframes point {
  0% {
   transform: translateX(0);
  }
  100% {
    transform: translateX(.125em);
  }
}

.home-h1-blue {
  margin-top: 5px;
  color: $dark-blue;
  font-size: 1.5em;
  font-family: $body-font;
  font-weight: bold;
}
.home-h1-red {
  color: $red;
}

.card-sobre {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-sobre img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  background-color: $light-blue;
}

.card-sobre h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-sobre p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-about {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.card-sobre .card-sobre-infos {
  padding: 16px;

}

.div-sobre {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  background-color: $ice;
  align-items: center;
  justify-content: center;
}

.coluna-50 {
  width: 40%;
  text-align: justify;


  h5 {
    line-height: 1.5;
  }
}

.home-desc {
  color: $light-blue;
  font-size: 18px;
  font-family: $headers-font;
  width: 60%;
  margin: 12px auto;
}

.home-desc-bold {
  color: $red;
  font-size: 20px;
  font-family: $headers-font;
}


// home animation
