// LAYER WITH TRANSPARENCY THAT WILL OVERLAP THE REST OF THE PAGE
.transparent-overlay {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

// MODAL CARD
.modal-inside-card {
  padding: 5px;
  background-color: $ice;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.modal-card {
  // height: 100%;
  border: 5px;
  border-color: $ice;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  // Colors
  background-color: $white;
  color: $dark-blue;
  // Shape & Size
  border-radius: 0.4rem;
  margin: 55vh auto;
  width: fit-content;
  overflow-y: auto;
  padding: 20px;
  padding-inline: 50px;
  // Display & Position
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  z-index: 1001;

  .modal-close-button {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    color: $dark-blue;
    background-color: $ice;
    border-radius: 100%;
    opacity: 1;
    padding: 10px;
    transition: $animate;
    position: absolute;
    top: 1rem;
    cursor: pointer;
    right: 1rem;
    &:hover {
      color: $red;
    }
  }
  &:hover {
    .modal-close-button {
      opacity: 1;
    }
  }
  .overflow-y-scroll {
    max-height: 60vh;
  }
}

hr {
  border: 1px solid $dark-blue;
  width: 100%
}
// MODAL WIDTHS

// Standard width for shorter pages
.modal-md-width {
  max-width: 500px;
  width: 500px;
}

// Larger width for bigger pages
.modal-lg-width {
  max-width: 60rem;
  width: 80vw;
}

.modal-title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  text-shadow: 5px;
  margin: 2px
}

.modal-open {
  .dark-transparent-background {
    animation: fadeIn .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }
  .modal-card {
    animation: slideDown .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }
}

.modal-close {
  .dark-transparent-background {
    animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }
  .modal-card {
    animation: slideUp .15s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }
}

.form-select {
  display:flex;
  border-radius: 5px;
  height: 3em;

  ::placeholder {
    color: rgb(185, 185, 185);
  }

  input[type=text] {
    // position: absolute;
    background-color: #f1f2f6;
    outline: none;
    border: transparent;
    padding: 1em;
    border-radius: 10px;
  }
}

// Animations
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-70%);
    opacity: 0;
  }
  100% {
    transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(-50%);
    opacity: 1;
  }
  100% {
    transform: translateY(-70%);
    opacity: 0;
  }
}
