.navbar-icons {
  margin-inline: 12px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.navbar-icons:hover {
  margin: 8px;
  font-size: 25px;
  color: $red;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.menuItems {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
}

.logo-nav {
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);;
}
.logo-nav:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);;

}
.navbar-lewagon {
  justify-content: space-between;
  background: $light-blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  padding: 0;
}

.avatar-navbar {
  padding-left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.avatar-navbar:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

li {
  margin: 0 10px;

  a {
    text-decoration: none;
    color: $ice;
    font-size: 20px;
    font-weight: 400;

    &:hover {
        width: 100%;
        color: $red;

    }

  }
}
