

.request_card {
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background-color: $light-gray;
  color: $gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 10px;
  border-radius: 5px;
  margin: 10px 0;

  .btn-main {
    background-color: $dark-blue;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 5px;

  }

  h3 {
    font-family: 'Poppins';
  }

  p {
    margin: 5px 0;
    font-size: 16px;
  }

  .btn-calendar{
    border: 1px solid $dark-blue;
    color: $dark-blue;
    padding: 0.5em 1em;
    border-radius: 5px;
  }



  .avatar-photo img {
    width: 150px;
    height: 150px;
  }
}



.request_card_total {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.index-icons {
  border: 1px solid $dark-blue;
  color: $dark-blue;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 20px;
}

.index-icons:hover {
  color: $red;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.order3 {
  order: 3;
}
