// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr.css";

// Your CSS partials
@import "components/index";
@import "components/home-navbar";
@import "components/footer";
@import "components/home_animation";
@import "pages/index";

@import "pages/myprofile";
@import "pages/newrequest";
@import "pages/exchanges";

body{
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: $ice;
}

footer{
  margin-top: auto;
}
